<h1>Available Songs:</h1>
<% @songs.each do |s| %>
  <h3><%= s.title %></h3>
  <p>Artist: <%= s.artists[0].name %></p>
  <p>Album: <%= s.album.title %></p>

  <% if s.audio_file.attached? %>
    <p>Play Song:
      <audio controls src="<%= url_for s.audio_file %>">Your browser does not support audio tags.</audio>
    </p>
  <% end %>

<% end %>